.title {
    height: 100%;
    margin: 16px;
    padding: 16px;
    border: 2px solid black;
    display: block;
}

div.message{
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.message > div:first-child{
    color : gray;
    font-weight: bolder;
}

.message > div:nth-child(2){
    color : #a2a2a2;
    font-weight: 100;
}